name: Build Geosite
on:
  workflow_dispatch: # Кнопка для ручного запуска
  push:
    branches: [ main ] # Запуск при каждом сохранении
    paths: [ 'data/**' ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.21'

      - name: Build
        run: |
          go install github.com/v2fly/domain-list-community@latest
          export PATH=$PATH:$(go env GOPATH)/bin
          domain-list-community --datapath=./data --exporttype=v2ray
          # Файл на выходе будет называться geosite.dat

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: geosite-file
          path: geosite.dat
