name: Build Geosite
on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          cache: false # Отключаем кэш, чтобы не ругался на отсутствие go.sum

      - name: Install and Build
        run: |
          go install github.com/v2fly/domain-list-community@latest
          # Явно указываем путь к папке data и имя выходного файла
          $(go env GOPATH)/bin/domain-list-community --datapath=./data --exporttype=v2ray --outputname=geosite.dat

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: geosite-file
          path: geosite.dat
