name: Build Geosite
on:
  workflow_dispatch: # Позволяет запускать вручную кнопкой
  push:
    branches:
      - main
    paths:
      - 'data/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '>=1.21'

      - name: Install generator and build
        run: |
          go install github.com/v2fly/domain-list-community@latest
          export PATH=$PATH:$(go env GOPATH)/bin
          domain-list-community --datapath=./data --exporttype=v2ray
          # Файл будет создан в корне под именем geosite.dat

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: geosite-file
          path: geosite.dat
