name: Build Geosite

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: false

      - name: Install and Build
        run: |
          go install github.com/v2fly/domain-list-community@latest
          $(go env GOPATH)/bin/domain-list-community --datapath=./data --outputdir=./ --outputname=geosite.dat

      - name: Generate Checksum
        run: sha256sum geosite.dat > geosite.dat.sha256sum

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: geosite-file
          path: |
            geosite.dat
            geosite.dat.sha256sum

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master'
        with:
          tag_name: latest
          name: "Latest Geosite Build"
          body: "Автоматическая сборка geosite.dat на основе данных из папки data."
          files: |
            geosite.dat
            geosite.dat.sha256sum
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
